form {
    background-color: #fff;
    padding: 1em;
    border-radius: 1em;
}

form header {
    display: grid;
    grid-template-columns: 1fr 2em;
    margin-bottom: 1em;
}

form h2 {
    line-height: 1;
    font-weight: 500;
}

form header .close {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: end;
}

.fieldWrapper {
    margin-bottom: 1em;
}

.fieldWrapper > * {
    display: block;
}

form label,
form legend {
    font-weight: 500;
}

.quantity-unit-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
}

fieldset {
    border: none;
}

fieldset label {
    font-weight: normal;
    line-height: 1;
    display: inline-flex;
    gap: 0.2em;
    align-items: center;
    background-color: var(--clr-light-blue-2);
    padding: 0.4em 0.8em;
    border-radius: 2em;
    color: var(--clr-neutral-black);
    cursor: pointer;
}

fieldset label.selected {
    background-color: var(--clr-primary-green);
    color: #fff;
}

#id_create-category,
#id_edit-category {
    display: flex;
    flex-wrap: wrap;
    gap: 0.6em;
}

.urgent-wrapper {
    display: flex;
    justify-content: space-between;
    background-color: var(--clr-light-blue-1);
    padding: 0.8em 1em;
    border-radius: 0.5em;
}

add-form .buttons,
edit-form .buttons {
    justify-content: flex-end;
}


add-form .buttons .button:first-child,
edit-form .buttons .button:first-child {
    margin-right: auto;
}

.form-overlay {
    z-index: 11;
}

.add-form,
.edit-form {
    @media (max-width: 767px) {
        position: absolute;
        top: 3em;
    }

    @media (min-width: 768px) {
        max-width: 40em;
    }

    @media (min-width: 1024px) {
        max-width: 55em;
    }
}

.delete-form {
    text-align: center;
}

.delete-form .warning {
    display: grid;
    grid-template-columns: 1fr 7fr;
    row-gap: 0.5em;
    padding: 1em;
    margin-bottom: 1.4rem;
}

.delete-form .warning .icon {
    color: var(--clr-error);
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    align-self: center;
}

.delete-form .warning p {
    grid-column: 2 / 3;
    line-height: 1;
}

.delete-form > .icon {
    box-sizing: content-box;
    color: var(--clr-error);
    background-color: var(--clr-warning-background);
    border-radius: 100vw;
    padding: 1em;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.delete-form h2 {
    margin-bottom: 0.5rem;
}

.delete-form > p {
    margin-bottom: 1rem;
}

.delete-form .buttons {
    /* justify-content: stretch; */
}

.delete-form .buttons .button {
    flex-grow: 1;
    flex-basis: 50%;
}

.user-form {
    max-width: 30em;
    padding: 2em;
}

.user-form h2,
.user-form p {
    text-align: center;
}

.user-form h2 {
    margin-bottom: 1rem;
}

.user-form > .icon {
    margin: 0 auto;
    padding: 0.5em;
    background-color: var(--clr-ligthest-green);
    border-radius: 100vw;
    margin-bottom: 1em;
}

.user-form div {
    margin-bottom: 1em;
}

.user-form .button {
    width: 100%;
    margin-bottom: 2em;
    margin-top: 1.5em;
}

.user-form a {
    color: var(--clr-primary-green);
}

.user-form a:hover {
    color: var(--clr-muted-dark-green);
    text-decoration: underline;
}

.user-form .helptext {
    opacity: 0.6;
}