.overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0,  0, 0, 0.4);
    display: none;
    place-items: center;
    overflow: auto;
    padding: 1em;
}

.overlay.open {
    display: grid;
}