input[type=checkbox] {
    accent-color: var(--clr-light-blue-1);
    cursor: pointer;
    outline: 4px solid var(--clr-light-blue-1);
}

.boolean-range {
    appearance: none;
    width: 2em;
    background: transparent;
}

.boolean-range::-webkit-slider-thumb {
    appearance: none;
    width: 1em;
    height: 1em;
    border-radius: 2em;
    background: #fff;
    cursor: pointer;
    box-sizing: content-box;
}

.boolean-range::-moz-range-thumb {
    appearance: none;
    width: 1em;
    height: 1em;
    border: none;
    border-radius: 2em;
    background: #fff;
    cursor: pointer;
    box-sizing: content-box;
}

.boolean-range::-webkit-slider-runnable-track {
    width: 2em;
    /* height: 1.2em; */
    cursor: pointer;
    background: #999;
    border-radius: 2em;
    padding: 0.1em;
}

.boolean-range::-moz-range-track {
    width: 2em;
    height: 1em;
    cursor: pointer;
    background: #999;
    border-radius: 2em;
    padding: 0.1em;
}

.boolean-range.on::-webkit-slider-runnable-track {
    background: #A75A00;
}

.boolean-range.on::-moz-range-track {
    background: #A75A00;
}

input,
select {
    font-weight: 500;
}

input[type=text],
input[type=number],
textarea,
select {
    background-color: var(--clr-light-blue-1);
    border: none;
    padding: 0.4em 0.6em;
    border-radius: 0.5em;
    width: 100%;
}

input[type=text]:focus,
input[type=number]:focus,
textarea:focus,
select:focus {
    background-color: var(--clr-light-blue-2);
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    text-align: center;
}

.quantity-input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.quantity-plus,
.quantity-minus {
    position: absolute;
    padding: 0.4em 0.8em;
    cursor: pointer;
    border-radius: 0.5em;
    font-weight: 500;
}

.quantity-plus:active,
.quantity-minus:active {
    background-color: var(--clr-light-blue-2);
}

.quantity-plus {
    right: 0;
}

.quantity-minus {
    left: 0;
    padding-inline: 0.94em;
}

input[type=radio] {
    display: none;
}