{% extends 'common/base.html' %}
{% load static %}

{% block title %}
Регистрация
{% endblock %}

{% block content %}

{% include 'partials/header.html' %}

<main class="site-content">
    <form class="user-form" action="{% url 'register' %}" method="post">
        {% csrf_token %}
        
        {{ form }}
        <button class="button btn-primary">
            <span>Регистрация</span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="icon icon-md">
                <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
            </svg>
        </button>
        <p>Вече имате акаунт? <a href="{% url 'login' %}">Вход</a></p>
    </form>
</main>

{% endblock %}

{% block scripts %}
<script src="{% static 'scripts/scripts.js' %}"></script>
{% endblock %}